<!DOCTYPE html>
<html>
<head>
	<title>Nameofapp(Berlin Bike Shop!)</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<link href='https://fonts.googleapis.com/css?family=Cabin+Sketch|Lobster' rel='stylesheet' type='text/css'>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= csrf_meta_tags %>
</head>
<body>
	
		<nav class="navbar">
			<ul>
				<li>Home</li>
				<li>About</li>
				<li>Contact</li>
				<%= form_tag("/products", method: "get") do %>
				  <%= label_tag(:q, "Search for:") %>
				  <%= text_field_tag(:q) %>
				  <%= submit_tag("Search") %>
				<% end %>  
			</ul>
		</nav>
	
	<div class="container">

		<%= yield %>
	</div><!-- container end -->	
	<footer>&copy; 2015 Bike Berlin</footer>

</body>
</html>
