<!DOCTYPE html>
<html>
<head>
	<title>Nameofapp(Berlin Bike Shop!)</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<link href='https://fonts.googleapis.com/css?family=Cabin+Sketch|Lobster' rel='stylesheet' type='text/css'>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="flash-notices">
		<% if notice %>
	  
	  <p id="notice" class=" alert alert-info  alert-dismissable" role="alert">
	  	<%= notice %>
	  </p>
    <% end %>

    <% if alert %>
    
    <p id="notice" class="alert warning alert-dismissable" role="alert">
    	<%= alert %>
    </p>
		
		<% end %>
	</div>


		<nav class="navbar">
			<ul>
				<li><%= link_to "Home", static_pages_index_path %></li>
				<li><%= link_to "About", static_pages_about_path %> </li>
				<li><%= link_to "Contact", static_pages_contact_path %></li>
				<%= form_tag("/products", method: "get") do %>
				  <%= label_tag(:q, "Search for:") %>
				  <%= text_field_tag(:q) %>
				  <%= submit_tag("Search") %>
				<% end %>  
			</ul>
			<ul class="nav pull-right">
				<li>
					<% if user_signed_in? %>
					<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
					<% else %>
						<%= link_to('Login', new_user_session_path) %>
					<% end %>	
				</li>
				
			</ul><!-- login/out -->
		</nav>

		  
	
	<div class="container">

		<%= yield %>
	</div><!-- container end -->	
	<footer>&copy; 2015 Bike Berlin</footer>

	<script   src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>
	<script src="site.js"></script>

</body>
</html>
